.container {
  display: flex;
  height: 100vh;
}

/* Sidebar sempre visível */
.sidebar {
  width: 250px;
  background-color: #00ADEE;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.menu-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #80D6F7;
  color: #00ADEE;
  font-weight: bold;
  cursor: pointer;
}

.menu-btn:hover {
  background-color: #76B84;
  color: white;
}

/* Área principal */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
